/*mobile*/
@media only screen and (max-width: 480px) {
	.wordmark-desktop {
		display: none;
	}

	.wordmark-mobile {
		display: block;
	}

	.logo {
		left: 0;
		width: 100%;
	}

	.site-wrapper {
		margin: 10px 20px 0 20px;
	}

	h1 {
		font-size: 20px;
	}

	h2 {
		font-size: 16px;
	}

	h3 {
		font-size: 14px;
	}

	h4 {
		font-size: 11px;
	}

	h5 {
		font-size: 30px;
	}

	.nav {
		display: none;
	}

	.mobile-nav {
		position: absolute;
		right: 0;
		display: block;
		margin-right: 20px;
		margin-top: 20px;
	}

	.mobile-close {
		position: absolute;
		right: 0;
		display: block;
		margin-right: 10px;
		margin-top: 8px;
	}

	.mobile-menu {
		position: fixed;
		display: none;
		background-color: #3A0B5C;
		z-index: 10000;
		width: 100%;
		height: 100vh;
	}

	.mobile-menu-items {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}


	.spacer {
		height: 60px;
	}

	.spacer-small {
		height: 30px;
	}

	.desktop-thumb {
		display: none;
	}

	.mobile-thumb {
		display: block;
	}

	.diagram-desktop {
		display: none;
	}

	.diagram-mobile {
		display: block;
	}

}



/*tablets*/
@media only screen and (max-width: 760px) {

	.wordmark-desktop {
		display: none;
	}

	.wordmark-mobile {
		display: block;
	}

	.logo {
		left: 0;
		width: 100%;
	}

	.site-wrapper {
		margin: 10px 20px 0 20px;
	}


	.nav {
		margin: auto;
		right: 0;
		left: 0;
	}
	.nav-item {
		padding-left: 1em;
		padding-right: 1em;
	}

	.spacer {
		height: 60px;
	}

	.desktop-thumb {
		display: none;
	}

	.mobile-thumb {
		display: block;
	}

	p {
		font-size: 18px;
	}
}

@media (orientation: landscape) {

	.wordmark-mobile {
		background-size: 50%;
	}
}




