/*mobile*/
@media only screen and (max-width: 480px) {
	.wordmark-desktop {
		display: none;
	}

	.wordmark-mobile {
		display: block;
	}

	.logo {
		left: 0;
		width: 100%;
	}

	.site-wrapper {
		margin: 10px 20px 0 20px;
	}

	h1 {
		font-size: 20px;
	}

	h2 {
		font-size: 16px;
	}

	h3 {
		font-size: 14px;
	}

	h4 {
		font-size: 11px;
	}

	.nav {
		margin: auto;
		right: 0;
		left: 0;
	}
	.nav-item {
		padding-left: 1em;
		padding-right: 1em;
	}

	.spacer {
		height: 60px;
	}

	.desktop-thumb {
		display: none;
	}

	.mobile-thumb {
		display: block;
	}

}



/*tablets*/
@media only screen and (max-width: 760px) {

	.wordmark-desktop {
		display: none;
	}

	.wordmark-mobile {
		display: block;
	}

	.logo {
		left: 0;
		width: 100%;
	}

	.site-wrapper {
		margin: 10px 20px 0 20px;
	}


	.nav {
		margin: auto;
		right: 0;
		left: 0;
	}
	.nav-item {
		padding-left: 1em;
		padding-right: 1em;
	}

	.spacer {
		height: 60px;
	}

	.desktop-thumb {
		display: none;
	}

	.mobile-thumb {
		display: block;
	}

	p {
	font-size: 18px;
}
}

@media (orientation: landscape) {

.wordmark-mobile {
	background-size: 50%;
}
}




