
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html { 
	scroll-behavior: smooth;
}


body {
	background-color: #F0F0F0;
	font-family: 'Archivo', sans-serif;
	overflow-x: hidden;
margin: 0;
}

.site-wrapper {
	margin: 20px 40px 0 40px;
}

.wordmark-desktop {
	background-image: url("../images/desktop_Illos@2x.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 60%;
	display: block;
}

.wordmark-mobile {
	background-image: url("../images/mobile_Illos.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: none;
}

.logo {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10%;
	width: 80%;
}



.header {
	background-color: #3A0B5C;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	z-index: -1;
	margin-top: 0;
}

.content {
	top: 100vh;
}

h1 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 140%;
	color: #3A0B5C;
}

h2 {
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 140%;
}

.divider {
	width: 100vw;
	margin-top: 60px;
	margin-bottom: 60px;
	height:1px;
	border-width:0;
	color: #757579;
	background-color: #757579;
}



.center {
	text-align: center;
}

.left {
	text-align: left;
}

img{
	width: 100%;
	height: auto;
}

h3 {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 140%;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
}

h4 {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;	
}

h4 a {
	color: inherit;
	text-decoration: none;
}

p {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	padding: 0 20px 0 20px;
}

strong {
	font-weight: 700;
}

.thumbnail-hr {
	margin-left: auto;
	margin-right: auto;
	width:28%;
	height:4px;
	border-width:0;
	color: #3A0B5C;
	background-color: #3A0B5C;
}

.spacer {
	height: 120px;
}

.spacer-small {
	height: 60px;
}

.nav {
	position: absolute;
	right: 0;
	display: inline;
	margin-right: 40px;
}

.nav-item {
	padding-left: 2em;
}

.tagline {
	bottom: 0;
	margin-bottom: 20px;
	position: absolute;
	width: 100%;
}

.desktop-thumb {
	display: block;
}

.mobile-thumb {
	display: none;
}

.arrow {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000 !important;
	display: none;
}

@-webkit-keyframes fading {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}
@-moz-keyframes fading {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}

@keyframes fading {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}

.invisible {
    opacity: 0;
    -webkit-animation: fading ease-in .5s;
    animation: fading ease-in .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

.invisible.one {
    -webkit-animation-delay: .25s;
    animation-delay: .25s
}

.invisible.two {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.invisible.three {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.hideme
{
    opacity:0;
}





